	.hamburger{display: block;}

		.resp-nav{
		  opacity: 1 !important;

		  
		  }
		.nav-list ul{
			flex-direction: column;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			background-color:black;
			padding-top: 2rem;
			/*transform: translateX(100%);*/
			opacity: 0;
			transition: all .4s ease;

		}

		.nav-list ul li{
			margin:1rem 2rem;
			
		}
		.services .card-wrap {
    		grid-template-columns: repeat(2,1fr);
    	}

    	/*header*/
    
		.about-me{
			 justify-content:space-between;
		     width: 80%;
		}

		.btn-small {
    		display: block;
    		margin-top: .5rem;
		}

